.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* or 100dvh for dynamic viewport height */
  justify-content: space-between;
}

.footer {
  margin-top: auto;
}

.header {
  margin-top: auto;
}